* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: rgb(29, 29, 31);
}

section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 64px;
}

.hero {
}

.hero h1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.hero button {
  color: rgb(30, 30, 30);
  margin: 20px;
  border: none;
  border-radius: 15px;
  padding: 15px;
  font-size: 24px;
  align-self: flex-end;
  transition: ease 0.3s;
}

.hero button:hover {
  background-color: rgb(0, 0, 180);
  color: white;
}

nav {
  justify-content: space-between;
  align-items: center;
}
